@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800;900&display=swap');


// FONTE

$lexend: 'Lexend Deca', sans-serif;

// CORES

$white: #F5F5F5;
$softblue: #5468E7;
$desaturatedblue: #7676B2;
$darkblue: #232340;